/* icones */

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?o5puy8');
    src:  url('../fonts/icomoon.eot?o5puy8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?o5puy8') format('truetype'),
    url('../fonts/icomoon.woff?o5puy8') format('woff'),
    url('../fonts/icomoon.svg?o5puy8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-taxi:before {
    content: "\e900";
}
.icon-adestrador:before {
    content: "\e901";
}
.icon-localizacao:before {
    content: "\e902";
}
.icon-hotel:before {
    content: "\e903";
}
.icon-petshop:before {
    content: "\e904";
}
.icon-veterinario:before {
    content: "\e905";
}


/* Effect 8 */

a:hover{
    text-decoration: none;
}

.hi-icon-wrap {
    text-align: center;
    margin: 0 auto;
    padding: 1em 0 1em;
}

.hi-icon {
    display: inline-block;
    font-size: 0px;
    cursor: pointer;
    margin: 15px 30px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff;
}

.hi-icon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.hi-icon:before {
    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}

.hi-icon-effect-8 .hi-icon {
    background: rgba(255,255,255,0.1);
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s;
}

.hi-icon-effect-8 .hi-icon:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.hi-icon-effect-8 .hi-icon:hover {
    background: rgba(255,255,255,0.05);
    -webkit-transform: scale(0.93);
    -moz-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);
    color: #fff;
}

.hi-icon-effect-8 .hi-icon:hover:after {
    -webkit-animation: sonarEffect 1.3s ease-out 75ms;
    -moz-animation: sonarEffect 1.3s ease-out 75ms;
    animation: sonarEffect 1.3s ease-out 75ms;
}

@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #1c3e5e, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #1c3e5e, 0 0 0 10px rgba(255,255,255,0.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}
@-moz-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #6286b8, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #6286b8, 0 0 0 10px rgba(255,255,255,0.5);
        -moz-transform: scale(1.5);
        opacity: 0;
    }
}
@keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #1c3e5e, 0 0 0 10px rgba(98, 134, 184, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #1c3e5e, 0 0 0 10px rgba(98, 134, 184, 0.5);
        transform: scale(1.5);
        opacity: 0;
    }
}


/* Effect 4b */
.hi-icon-effect-4 .hi-icon {
    width: 92px;
    height: 92px;
    box-shadow: 0 0 0 4px rgba(255,255,255,1);
}

.hi-icon-effect-4a .hi-icon {
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

.hi-icon-effect-4 .hi-icon:before {
    line-height: 92px;
}

.hi-icon-effect-4 .hi-icon:after {
    top: -4px;
    left: -4px;
    padding: 0;
    z-index: 10;
    border: 4px dashed #fff;
}

.hi-icon-effect-4 .hi-icon:hover {
    box-shadow: 0 0 0 0 rgba(255,255,255,0);
    color: #fff;
}
.hi-icon-effect-4b .hi-icon:hover {
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

.hi-icon-effect-4b .hi-icon:hover:after {
    -webkit-animation: spinAround 9s linear infinite;
    -moz-animation: spinAround 9s linear infinite;
    animation: spinAround 9s linear infinite;
}

@-webkit-keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spinAround {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@keyframes spinAround {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}

/*fim icones*/

.row{
    margin-left: 0px;
    margin-right: 0px;
}
.banner-inicio{
    width: 100%;
    height:180px;
    position: relative;
    background-color: #6286b8;
    border-bottom: 5px solid #e6e5e3;
}
.banner-inicio > img{
    width: 20%;
    margin-left: 40%;
    margin-top: 25px;
}
.sub-menu{
    width: 100%;
    min-height: 100px;
    background-color: #1c3e5e;
}
.menu-recomendacoes{
    padding: 40px;
    text-align: center;
}
.label{
    padding: 15px 20px 15px 20px;
    font-size: 1em;
    margin: 5px;
    background-color: #6286b8;
}
.owl-carousel .owl-stage-outer{
    overflow: visible;
}
/**/

.menu-lateral{
    border: 1px solid #000;
    min-height: 100vh;
}
#map{
    min-height: 100vh;
}
