/*defualt html*/

*{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 600;
    color: #1C3E5E;
}
hr{margin-top: 10px; margin-bottom: 10px;}

.fa-margin{
    margin: 3px;
}

.my-btn{
    background-color: #1c3e5e;
    border-color: #1c3e5e;
}
.my-btn:hover{
    background-color: #193653;
    border-color: #193653;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}
.banner-inicio{
    width: 100%;
    height:180px;
    position: relative;
    background-color: #6286b8;
    border-bottom: 5px solid #e6e5e3;
}
.banner-inicio > img{
    width: 20%;
    margin-left: 40%;
    margin-top: 25px;
}
.sub-menu{
    width: 100%;
    min-height: 100px;
    background-color: #1c3e5e;
}
.menu-recomendacoes{
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
}
.label{
    padding: 15px 20px 15px 20px;
    font-size: 1em;
    margin: 5px;
    background-color: #6286b8;
}
.owl-carousel .owl-stage-outer{
    overflow: visible;
}
/**/
/*Menu lateral*/
.menu-lateral{
    min-height: 100vh;
    padding: 0px;
}
.panel{
    height:80vh;
}
.panel-default > .panel-heading{
    background-color:#e6e5e3 ;
}
.form-control:focus{
    border-color: #6286b8 !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 3px rgb(98, 134, 184) !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 3px rgb(98, 134, 184) !important;
}

.rating-symbol{
    font-size: 2em;
}

/* Display star ratings */
.br-theme-fontawesome-stars .br-widget {
    height: 38px;
    white-space: nowrap;
}
.br-theme-fontawesome-stars .br-widget a {
    font: normal normal normal 30px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    margin-right: 2px;
}
.br-theme-fontawesome-stars .br-widget a:after {
    content: '\f005';
    color: #d2d2d2;
}
.br-theme-fontawesome-stars .br-widget a.br-active:after {
    color: #1c3e5e;
}
.br-theme-fontawesome-stars .br-widget a.br-selected:after {
    color: #1c3e5e;
}
.br-theme-fontawesome-stars .br-widget .br-current-rating {
    display: none;
}
.br-theme-fontawesome-stars .br-readonly a {
    cursor: default;
}
@media print {
    .br-theme-fontawesome-stars .br-widget a:after {
        content: '\f006';
        color: black;
    }
    .br-theme-fontawesome-stars .br-widget a.br-active:after,
    .br-theme-fontawesome-stars .br-widget a.br-selected:after {
        content: '\f005';
        color: black;
    }
}

/*mapa*/

#mapa{
    min-height: 80vh;
}
/*mudança do botao de close maps*/
img[src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png"] {
    content:url("close.png");
    width:30px !important;
    height:30px !important;
    top:0px !important;
}
.gm-style-iw {
    width: 350px !important;
    min-height:300px !important;
    top: 15px !important;
    left: 0px !important;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.3);
    border: 1px solid #6286b8;
    border-radius: 2px 2px 10px 10px;
}
#iw-container {
    margin-bottom: 10px;
    width: 100%;
}
#iw-container .iw-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    font-weight: bold;
    padding: 10px;
    background-color: #6286b8;
    color: white;
    margin: 0;
    border-radius: 2px 2px 0 0;
}

#iw-container .iw-content {
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    padding: 15px 5px 20px 15px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.iw-content img {
    width: 100%;
    margin: 10px 0 10px 0;
}
.iw-content p{
    text-align: justify;
    font-size: 1.1em;
}
.iw-content a .btn{
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 500;
}
.iw-subTitle {
    font-size: 1.3em;
    font-weight: 700;
    padding: 5px 0;
}
.iw-bottom-gradient {
    position: absolute;
    width: 326px;
    height: 25px;
    bottom: 10px;
    right: 18px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

/**/


/* icones */

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?o5puy8');
    src:  url('../fonts/icomoon.eot?o5puy8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?o5puy8') format('truetype'),
    url('../fonts/icomoon.woff?o5puy8') format('woff'),
    url('../fonts/icomoon.svg?o5puy8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-taxi:before {
    content: "\e900";
}
.icon-adestrador:before {
    content: "\e901";
}
.icon-localizacao:before {
    content: "\e902";
}
.icon-hotel:before {
    content: "\e903";
}
.icon-petshop:before {
    content: "\e904";
}
.icon-veterinario:before {
    content: "\e905";
}


/* Effect 8 */

a:hover{
    text-decoration: none;
}

.hi-icon-wrap {
    text-align: center;
    margin: 0 auto;
    padding: 1em 0 1em;
}

.hi-icon {
    display: inline-block;
    font-size: 0px;
    cursor: pointer;
    margin: 15px 30px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff;
}

.hi-icon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.hi-icon:before {
    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}

.hi-icon-effect-8 .hi-icon {
    background: rgba(255,255,255,0.1);
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s;
}

.hi-icon-effect-8 .hi-icon:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.hi-icon-effect-8 .hi-icon:hover {
    background: rgba(255,255,255,0.05);
    -webkit-transform: scale(0.93);
    -moz-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);
    color: #fff;
}

.hi-icon-effect-8 .hi-icon:hover:after {
    -webkit-animation: sonarEffect 1.3s ease-out 75ms;
    -moz-animation: sonarEffect 1.3s ease-out 75ms;
    animation: sonarEffect 1.3s ease-out 75ms;
}

@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #1c3e5e, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #1c3e5e, 0 0 0 10px rgba(255,255,255,0.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}
@-moz-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #6286b8, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #6286b8, 0 0 0 10px rgba(255,255,255,0.5);
        -moz-transform: scale(1.5);
        opacity: 0;
    }
}
@keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #1c3e5e, 0 0 0 10px rgba(98, 134, 184, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #1c3e5e, 0 0 0 10px rgba(98, 134, 184, 0.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

/*fim icones*/